@import "tailwindcss";

html {
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    background-color: #0a0a0a;
    color: white;
}

@keyframes grid-flow {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 80px;
    }
}

.animate-grid-flow {
    animation: grid-flow 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.animate-scroll {
    animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

.hover-pause:hover {
    animation-play-state: paused;
}