@import "tailwindcss";

html {
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    background-color: #0a0a0a;
    /* Ensure background color matches */
    color: white;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.animate-scroll {
    animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}